/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  background: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
}

.header--wrapper {
  height: 60px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 3px 5px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 0 3px 5px 0 rgba(34, 60, 80, 0.2);
}

.footer--row {
  height: 50px;
  -webkit-box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.2);
}

.footer--wrapper {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.logo {
  font-family: 'Rubik', sans-serif;
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 500;
  text-decoration: none;
  font-size: 26px;
  font-style: normal;
  line-height: 33px;
  color: #3C415E;
}

.logo .logo--image {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.logo .logo--image img {
  width: 36px;
  height: 36px;
}

.header-navs--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-navs--wrapper .header-navs--link {
  text-transform: none;
  color: #3C415E;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.3px;
}

.header-user--wrapper {
  display: flex;
  align-items: center;;
  justify-content: end;
}

.header-user--wrapper .header-navs--link {
  text-transform: none;
  color: #3C415E;
  height: 50px;
}

.header-user--wrapper .header-navs--icon {
  width: 40px;
  height: 40px;
  background: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}

.nav-left--wrapper {
  margin-top: 15px;
  max-width: 250px;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  padding: 10px 0;
  -webkit-box-shadow: 0 0 5px 1px rgb(34 60 80 / 20%);
  -moz-box-shadow: 0 0 5px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 0 0 5px 1px rgb(34 60 80 / 20%);
}

.main-btn, .main-btn-line {
  color: #ffffff;
  border-radius: 10px;
  height: 40px !important;
  text-transform: none;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  background: linear-gradient(135deg, #7095FF 0%, #C57DFF 100%);
}

.clear-btn {
  background: #facfbf;
}

.apply-btn {
  background: #fae9bf;
}

.main-btn-line {
  background: #fff;
  color: #000;
  border: solid 2px #af7dff;
}

.block-item {
  -webkit-box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.2);
  padding: 30px 20px 20px 20px;
  display: flex;
  width: 100%;
  border-radius: 10px;
  text-decoration: none;
  color: #3C415E;
  position: relative;
  transition: 0.4s;
  overflow: hidden;
}

.block-item:hover {
  -webkit-box-shadow: 0 0 5px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 0 5px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0 0 5px 2px rgba(34, 60, 80, 0.2);
}

.block-item .block-status--active, .block-item .block-status--blocked {
  padding: 1px 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.block-item .block-status--active {
  color: #067306;
  background: #D9FABF;
}

.block-item .block-status--blocked {
  color: #9E0038;
  background: #FFD4F5;
}

.block-item--name {
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #3C415E;
}

.tools-main {
  -webkit-box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.2);
  padding: 20px;
  border-radius: 10px;
}

.tools-main .tools-main--group {
 padding-bottom: 20px;
}

.tools-main .tools-main--group .tools-main--group-name {
  padding-bottom: 20px;
  font-size: 18px;
  color: #3C415E;
  font-weight: 400;
}

.tools-main .tools-main--group .tools-main--group-field {
  padding-bottom: 20px;
}

.tools-main .tools-main--group .tools-main--group-btn {
  padding-bottom: 20px;
}

.tools-main .tools-main--group:last-child {
  padding-bottom: 0;
}

.tools-main .tools-main--group:last-child .tools-main--group-btn{
  padding-bottom: 0;
}

.info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-block h3{
  color: #3C415E;
  font-weight: 300;
  margin: 0;
  padding: 20px 0;
  font-size: 30px;
}
